<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 
    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_FILE}</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF-8</charset>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{35} - %msg%n</Pattern>
        </encoder>
    </appender>
    
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
                <marker>console</marker>
            </evaluator>
            <OnMismatch>DENY</OnMismatch>
        </filter>
        <encoder>
            <charset>UTF-8</charset>
            <Pattern>[%-5level] %msg%n</Pattern>
        </encoder>
    </appender>

    <logger name="br.com.lucas.goeuro" level="debug"/>

    <root level="info">
        <appender-ref ref="file"/>
        <appender-ref ref="console"/>
    </root>

</configuration>